.pagination{
  display: flex;
  list-style: none;
}
.filter-bar {
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  align-items: center;
}

.filter-options select {
  padding: 6px;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-options button {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filter-options button:hover {
  background-color: #0056b3;
}